<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
</head>
<body>
    <h1>Welcome to XENNJS</h1>
    <a href="/user/login">User Login</a><br>
    <a href="/admin/login">Admin Login</a>
</body>
</html>
